
h1 {
    position: relative;
    text-align: center;
    background-color:blueviolet;
    
}

div {
    text-align:center;
    padding-top:20px;
    background-color: azure;
    
}

form {
    text-align: center;
    
    
}
